.nav_bar_container{
    display: block;
    margin-left: auto;
    width: 80%;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eaeff4;
    border-radius: 5px;
    margin-bottom: 20px;
}
.nav_bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    align-items: center;
}
    .nav_bar a{
        font-family: 'Inter', sans-serif;
        color: #7f8c90;
        font-size: 1rem;
        text-decoration: none;
        letter-spacing: 4px;
    }
    .nav_bar > a:active{
        color: #000000;
    }
    .nav_bar a:hover {
        color: #000000;
        text-decoration: solid;
    }

/* sample section*/
.container{
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
}
    .left_child{
        width: 100%;
        flex: 1 1 auto;
        width:50vmin;
    }
            .left_child p{
                text-align: justify;
                font-family: 'Inter',sans-serif;
                font-size: 1.1em;
                letter-spacing: 1.5px;
                color: rgb(16, 19, 23);
            }
    .right_child{
        width: 100%;
        flex: 1 1 auto;
        width:50vmin;
    }
            .right_child img{
                display: block;
                margin-right: auto;
                margin-left: auto;
            }

/* footer */
.footer{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}
.footer ul{
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-size: 0.9em;
    padding-left: 0px;
    line-height: 25px;
}
.footer ul li{
    color: #b6bfc9;
}